/***** NAVBAR *****/

.navbar {
    background-color: #269dc5;
    border-radius: 0;
}

/* Navbar title */
.navbar-default .navbar-brand {
    color: white;
    font-size: px;
    font-weight: bold;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ebd122;
    text-decoration: none;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 16px;
    padding: 10px;
}

/* Navbar collapsed styles */
.navbar-toggler {
    color: #fff;
    border-color: #fff;
    background-color: #269dc5;
    border-radius: 4px;
    border: 1px solid;
    fill: #fff;
    font-size: 16px;
    position: relative;
    margin-right: 10px;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    background-color: #ebd122;
    color: #242424;
    fill: #242424;
    border-color: #fff;

}

/*** JUMBOTRON ***/

.jumbotron {
    background-image: url("../assets/Cincinnati.png");
    text-align: center;
    color: #030303;
    padding: 3%;
    border-radius: 0px;
}

.jumbotron h2 {
    font-size: 40px;
    font-weight: bold;
}

.img-responsive{
    width:100%;
}

/*** CARD ***/

.card {
    background-color: #ffffff;
    border-color: #cccccc;
    border-width: 1px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.card:hover {
    border-color: #264cac;
}

/*** Basic Text Styles ***/

#about-world {
    max-width: 100%;
}

.resume h3 {
    font-weight: bold;
}


hr {
    border-color: white;
    border-width: 2px;
}

p {
    font-size: 20px;
}

a {
    color: #050308;
}

a:hover {
    color: #223deb;
}

.container{
    padding:25px 0;
}


